<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium 4 test suite">
    <test name="selenium 4 Tests with Chrome Browser" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.saucedemo.SauceDemoTests">
                <methods>
                    <include name="loginSauceDemoTest"/>
                    <include name="logOutSauceDemoTest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="selenium 4 Tests with Firefox Browser" enabled="true">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="io.github.mfaisalkhatri.saucedemo.SauceDemoTests">
                <methods>
                    <include name="loginSauceDemoTest"/>
                    <include name="logOutSauceDemoTest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="selenium 4 Tests with Edge Browser" enabled="false">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="io.github.mfaisalkhatri.saucedemo.SauceDemoTests">
                <methods>
                    <include name="loginSauceDemoTest"/>
                    <include name="logOutSauceDemoTest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="selenium 4 Tests with Opera Browser" enabled="false">
        <parameter name="browser" value="opera"/>
        <classes>
            <class name="io.github.mfaisalkhatri.saucedemo.SauceDemoTests">
                <methods>
                    <include name="loginSauceDemoTest"/>
                    <include name="logOutSauceDemoTest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->

    <test name="selenium 4 Tests on Automation Practice Website" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.automationpractice.ContactUsTests">
                <methods>
                    <include name="relativeLocatorsTest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Browser Navigation Tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.theinternet.BrowserTests">
                <methods>
                    <include name="checkTitleAndWebsiteUrlTest"/>
                    <include name="browserNavigationTests"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="JS Alert Tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.theinternet.JSAlertTests">
                <methods>
                    <include name="alertTest"/>
                    <include name="confirmAlertTest"/>
                    <include name="dismissAlertTest"/>
                    <include name="jsPromptTypeAndAcceptTest"/>
                    <include name="jsPromptDismissTest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Dropdown Tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.theinternet.DropdownTests">
                <methods>
                    <include name="selectByOptionTest"/>
                    <include name="selectByIndexText"/>
                    <include name="selectByValueTest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Checkboxes Tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.theinternet.CheckboxTests">
                <methods>
                    <include name="testCheckboxes"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Right Click Tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.theinternet.RightClickTests">
                <methods>
                    <include name="testRightClick"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Form Authentication Tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.theinternet.FormAuthenticationTests">
                <methods>
                    <include name="loginWithCorrectCredentials"/>
                    <include name="logOutTest"/>
                    <include name="userNameNotValidTest"/>
                    <include name="passwordNotValidTest"/>
                    <include name="invalidLoginCredentialsTest"/>
                    <include name="blankUserAndPasswordTest"/>
                    <include name="loginTests"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="KeyPress Tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.theinternet.KeyPressTests">
                <methods>
                    <include name="keyPressTest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Mouse Hover Tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.theinternet.HoverTests">
                <methods>
                    <include name="mouseHoverTests"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Drag and Drop Tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.crossbrowsertesting.DragAndDropTests">
                <methods>
                    <include name="testDragAndDrop"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Double Click on Button Tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.demoqa.DoubleClickTests">
                <methods>
                    <include name="testDoubleClick"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="iFrame Tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.theinternet.IFrameTests">
                <methods>
                    <include name="testIFrame"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->