<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sauce Demo Website Tests ">

    <suite-files>
        <suite-file path="testng-saucedemo.xml"/>
        <suite-file path="testng-automationpractice.xml"/>
        <suite-file path="testng-theinternet.xml"/>
        <suite-file path="testng-juice-shop.xml"/>
        <suite-file path="testng-seleniumgrid.xml"/>
    </suite-files>
</suite> <!-- Suite -->