<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium 4 test suite">
    <test name="selenium 4 Tests with Chrome Browser" enabled="false">
        <parameter name="browser" value="chromegit"/>
        <classes>
            <class name="io.github.mfaisalkhatri.saucedemo.Saucedemotests">
                <methods>
                    <include name="loginSauceDemoTest"/>
                    <include name="logOutSauceDemoTest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="selenium 4 Tests with Firefox Browser" enabled="false">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="io.github.mfaisalkhatri.saucedemo.Saucedemotests">
                <methods>
                    <include name="loginSauceDemoTest"/>
                    <include name="logOutSauceDemoTest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="selenium 4 Tests with Edge Browser" enabled="false">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="io.github.mfaisalkhatri.saucedemo.Saucedemotests">
                <methods>
                    <include name="loginSauceDemoTest"/>
                    <include name="logOutSauceDemoTest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="selenium 4 Tests with Opera Browser" enabled="false">
        <parameter name="browser" value="opera"/>
        <classes>
            <class name="io.github.mfaisalkhatri.saucedemo.Saucedemotests">
                <methods>
                    <include name="loginSauceDemoTest"/>
                    <include name="logOutSauceDemoTest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->

    <test name="selenium 4 Tests on Automation Practice Website" enabled="false">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.automationpractice.ContactUsTests">
                <methods>
                    <include name="relativeLocatorsTest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Browser Navigation Tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.theinternet.BrowserTests">
                <methods>
                    <include name="checkTitleAndWebsiteUrlTest"/>
                    <include name="browserNavigationTests"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="JS Alert Tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.theinternet.JSAlertTests">
                <methods>
                    <include name="alertTest"/>
                    <include name="confirmAlertTest"/>
                    <include name="dismissAlertTest"/>
                    <include name="jsPromptTypeAndAcceptTest"/>
                    <include name="jsPromptDismissTest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="Dropdown Tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="io.github.mfaisalkhatri.theinternet.DropdownTests">
                <methods>
                    <include name="selectByOptionTest"/>
                    <include name="selectByIndexText"/>
                    <include name="selectByValueTest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->