<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium 4 POC Tests ">
    <suite-files>
        <suite-file path="testng-saucedemo.xml"/>
        <suite-file path="testng-automationpractice.xml"/>
        <suite-file path="testng-theinternet.xml"/>
        <suite-file path="testng-juice-shop.xml"/>
        <suite-file path="testng-lambdatestecommerce.xml"/>
        <suite-file path="testng-seleniumgrid-theinternet.xml"/>
        <suite-file path="testng-lambdatest-selenium-playground.xml"/>
        <!--        <suite-file path="testng-seleniumgrid-juiceshop.xml"/>-->
    </suite-files>
</suite> <!-- Suite -->